= content_for :title, "Cambie su contrase単a"

= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f|
  = f.error_messages :header_message => nil, :message => nil
  = f.hidden_field :reset_password_token

  %p
    = f.label :password, "Nueva contrase単a"
    %br/
    = f.password_field :password

  %p
    = f.label :password_confirmation, "Confirme su nueva contrase単a"
    %br/
    = f.password_field :password_confirmation

  %p= f.submit "Cambiar contrase単a"

= render "devise/shared/links"
