#menu
  %ul
    %li{:class => current_page?(root_path) ? 'current_page_item' : ''}= link_to('Inicio', root_path)
    %li{:class => ! current_page?(root_path) ? 'current_page_item' : ''}
      %a#flat.fg-button.fg-button-icon-right.ui-widget.ui-state-default.ui-corner-all{:href => "#search-engines"}
        %span.ui-icon.ui-icon-triangle-1-s
        = Exposition.model_name.human.pluralize.humanize
      #search-engines.hidden
        = cache("expositions_list") do
          = expos_menu
    %li
      - if user_signed_in?
        = link_to "Salir", destroy_user_session_path
      - else
        = link_to "Ingresar", user_session_path
        
  %span.right
    = image_tag "unlam_logo.png", :class => "logo", :align => "left"
    %h3 ExpoProyecto UNLaM
/ end #menu
