%ul
  - if user_signed_in? && controller.action_name == 'index'
    %li= link_to("Nuevo #{Project.model_name.human}", new_exposition_project_path((@exposition ? @exposition : @project.exposition).year))
  
  - if %w{show prev next}.include?(controller.action_name)
    - if user_signed_in?
      %li= link_to('Descargar PDF', project_path(@project, :format => :pdf))
      - if current_user.admin?
        %li= link_to(Message.model_name.human.pluralize.humanize, new_message_path(:project_id => @project.id))
    
    %li= link_to(Project.model_name.human.pluralize.humanize, exposition_projects_path((@exposition ? @exposition : @project.exposition).year))
    
    - if @project.editable_by?(current_user)
      %li= link_to('Editar', edit_project_path(@project))
      %li= link_to('Eliminar', @project, :method => :delete, :confirm => "¿Seguro desea eliminar el #{Project.model_name.human}?")
  
  - if controller.action_name == 'gallery'
    %li= link_to('Reiniciar', gallery_exposition_projects_path(@exposition.year))
  
  - if %w(index gallery).include?(controller.action_name)
    %li= link_to(Exposition.model_name.human.humanize, exposition_path(@exposition.year))
  
  - unless %w(index gallery).include?(controller.action_name)
    %li= link_to('Volver', :back)