= content_for :title, "#{Project.model_name.human.pluralize.humanize} de #{@exposition.name}"
= content_for :sidebar_links, render('sidebar_links')

- cache action: 'gallery', action_suffix: params[:page] do
  - if @projects.empty?
    = not_found(Project)
  - else
    = render "list", :projects => @projects

  = paginate @projects