= content_for :title, "Nuevo #{Project.model_name.human}"
= content_for :sidebar_links, render('sidebar_links')

= form_for([@exposition, @project], :html => {:multipart => true}) do |f|
  = render f
