= form.error_messages :header_message => nil, :message => nil

%p
  %strong= form.label(:title)
  %br/
  = form.text_field(:title)

%p
  %strong= form.label(:starts_at)
  %br/
  = form.text_field(:starts_at, :size => 20, :value => format_datetime(@activity.starts_at))
  
%p
  %strong= form.label(:ends_at)
  %br/
  = form.text_field(:ends_at, :size => 20, :value => format_datetime(@activity.ends_at))
  
%p
  = form.submit('Guardar')

= content_for :js do
  :javascript
    $(document).ready(function () {
      $('#activity_starts_at').datetimepicker();
      $('#activity_ends_at').datetimepicker();
    });