= content_for :title, @activity.title
= content_for :sidebar_links, render('sidebar_links')

%p
  %strong= Activity.human_attribute_name(:starts_at)
  %br/
  = l @activity.starts_at, :format => :short

%p
  %strong= Activity.human_attribute_name(:ends_at)
  %br/
  = l @activity.ends_at, :format => :short
