= content_for :title, Exposition.model_name.human.pluralize.humanize
= content_for :sidebar_links, render('sidebar_links')

- cache @expositions do
  - if @expositions.empty?
    = not_found(Exposition)
  - else
    %ul
      = render @expositions
  
  = paginate @expositions