!!! 5
%html
  %head
    %title ExpoProyecto
    = stylesheet_link_tag 'application'
    = csrf_meta_tag
  %body
    #wrapper
      = render 'shared/menu'
      #page
        #page-bgtop
          #page-bgbtm
            #content
              .post
                %h2.title= yield(:title)
                - unless flash.empty?
                  %p.meta
                    %span.date= flash.first.last
                %div{:style => "clear: both;"} &nbsp;
                .entry
                  = yield
            = render "shared/sidebar"
            %div{:style => "clear: both;"} &nbsp;
    #footer
      %p Copyright (c) #{Date.today.year} #{link_to('LACIE', 'http://lacie-unlam.org/')}. Todos los derechos reservados. Diseño por <a href="http://www.freecsstemplates.org/">Free CSS Templates</a>
    
    = javascript_include_tag 'application'
    = yield :js
